body {
  font-family: "Poppins", sans-serif;
  margin: 25px 25px 0 25px;
  background-color: #EFFAFD;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  
  
  
}
.main {
  flex: 1;
}

div.logo {
  background-color: #EFFAFD;
}



h1.logo {
  font-family: 'Geologica', sans-serif;
  margin: 0%;
  font-size: 3rem;
}

img.logo {
  mix-blend-mode: multiply;
  width: 110px;
  height: 85px;
  
}


h1.logo, img.logo {
  display: inline-block;
  vertical-align: bottom;
}


h1.creative {
  font-size: 4rem;
  margin-right: 10px;
  color: navy;
  font-family: 'Geologica', sans-serif;
  text-align: center;
  margin-left: 0%;

}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
  text-align: center;
  
}

.tile-image {
  width: 350px;
  height: 250px;
  border-width: 15px;
  border-style: solid;
  border-image-source: radial-gradient(circle at center, royalblue, #EFFAFD); 
  border-image-slice: 1; 
 
}

.card-title {
  color: navy;
}

.card-text {
  text-align: justify;
}


footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width: 680px) {

  h1.logo {
    
    font-size: 3rem;
  }
  
  img.logo {
    
    width: 80px;
    height: 60px;
    margin-bottom: 20px;
    
  }
  h1.creative {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 40px;
  
  }

 .card {
  display: block;
  width: 100%;
  margin-bottom: 25px;
 }

 .tile-image {
  width: 85%;
  height: 200px;
  display: inline;
  margin-bottom: 0%;
  
 }

 .card-title {
  margin-top: 5px;
 }
}



